/* purgecss start ignore */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  right: 15px;
  display: block;
  top: 42px;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

.bm-burger-button button {
  width: 90px !important;
  right: 0 !important;
  left: auto !important;
}

.logo {
  left: -5px !important;
  top: -12px !important;
  -webkit-animation: spin 11s linear infinite;
  -moz-animation: spin 11s linear infinite;
  animation: spin 11s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@screen md {
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    display: none;
    left: 15px;
    top: 15px;
    opacity: 0.5;
    transition: all 0.5s;
  }

  .logo {
    display: block;
    position: relative;
    top: -8px !important;
    left: 10px !important;
  }
}

.bm-burger-button:hover {
  opacity: 1;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  @apply bg-red-500;
  height: 3px !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  @apply bg-red-200;
  opacity: 1 !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 99;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  padding: 0;
}

/* General sidebar styles */
.bm-menu {
  @apply p-3 bg-red-900 shadow-sm;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.9);
  top: 0;
}

.bm-overlay + div:before {
  right: 54px;
  position: absolute;
  content: "Men\FA";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  @apply text-gray-900 uppercase;
}

.bm-overlay + div {
  background: #fff;
  padding: 0;
  position: fixed;
  right: 0;
  width: 120px;
  height: 50px;
  top: 28px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@screen md {
  .bm-overlay + div:before {
    @apply hidden;
  }

  .bm-overlay + div {
    @apply hidden;
  }
}

@screen lg {
  .bm-overlay {
  }
}

@screen sm {
  .bm-burger-button span {
  }
}

/* purgecss end ignore */
