@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  
  /*
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    */
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

/* Para mover luego al lugar correspondiente */
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  @apply bg-white border-b-2 border-red-400;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 700ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned .logo {
  transform: translateY(-100%);
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

header nav a {
  @apply px-3 py-2 pb-1 font-sans text-sm font-bold uppercase border-b-2 border-transparent;
}

@screen lg {
  header nav a {
    @apply text-lg;
  }
}

header nav a:hover {
  @apply border-gray-800;
}

.btn {
  @apply px-4 py-2 font-bold text-white bg-red-500 border-b-4 border-red-700 rounded hover:bg-red-600 hover:border-red-700;
}
