.headroom-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 88px !important;
}

/* Para mover luego al lugar correspondiente */
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  transition: all 700ms ease;
}
.headroom--unfixed {
  position: fixed;
  transform: translateY(0);
}

/* This is applied when header appears NOT in the top of the screen */
.headroom--scrolled {
  transition: all 700ms ease;
  @apply bg-red-700;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(0);
}

@screen lg {
  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
  }
  .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
}

.headroom--pinned .logo {
  transform: translateY(-100%);
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
